<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include navbar.ejs %>
<div class="homepage_content">
    <h1>Zakończone przetargi</h1>
    <div style="width: 80%">
        <div class="list_header">
            <p style="flex: 2 1 0">Numer porządkowy</p>
            <p style="flex: 6 1 0">Przedmiot przetargu</p>
            <p style="flex: 4 1 0">Status</p>
            <p style="flex: 2 1 0"></p>
        </div>
        <!--todo walidacja gdy pusta lista        -->
        <ul>
            <% data.forEach((row) => { %>
                <li>
                    <div>
                        <p style="flex: 2 1 0"><%= row.id %></p>
                        <p style="flex: 6 1 0"><%= row.title %></p>
                        <p style="flex: 4 1 0">Przetarg zakończony</p>
                        <button class="description_button">
                            <a style="" href="/przetargi/zakonczone/<%= row.id %>">Szczegóły</a>
                        </button>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>
