<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="homepage_content">
      <h1>Drogi użytkowniku!</h1>
      <div style="width: 40%">
        <p>Strona '<%= title %>' umożliwia ogłaszanie przetargów
          przez dowolną instytucję oraz wzięcie w nich udziału przez każdą osobę.</p>
        <p>W zakładce <a href="/przetargi/aktualne">'Aktualne przetargi'</a> znajduje się lista aktualnie przeprowadzanych przetargów.</p>
        <p>Zakładka <a href="/przetargi/zakonczone">'Zakończone przetargi'</a> pozwala przejrzeć przetargi, które zostały zakończone.</p>
        <p>W zakładce <a href="/przetargi/dodaj">'Dodaj przetarg'</a> możliwe jest utworzenie nowego przetargu po podaniu wymaganych informacji.</p>
      </div>
    </div>
  </body>
</html>
