<nav>
        <a href="/">Strona główna</a>
        <a href="/przetargi/aktywne">Aktywne przetargi</a>
        <a href="/przetargi/zakonczone">Zakończone przetargi</a>
        <a href="/przetargi/dodaj">Dodaj przetarg</a>
</nav>