body {
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  background-color: #0d4479;
}

.homepage_content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
}

ul li {
  border-bottom: 1px solid dodgerblue;
}

ul div {
  padding: 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li:last-child{
  border-bottom: none;
}

.list_header {
  border-bottom: 3px solid dodgerblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.description_button {
  flex: 2 1 0;
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 0;
  color: white;
}

.description_button:hover {
  background-color: #0d4479;
}

.description_button a{
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_text {
  border-bottom: 1px solid dodgerblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.description_text p {
  padding: 0 10px 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label span {
  font-weight: bold;
  flex: 3 1 0;
  text-align: center;
}

input {
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  margin-left: 10px;
  flex: 5 1 0;
  text-align: left;
}

textarea {
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  margin-left: 10px;
  flex: 5 1 0;
  text-align: left;
}

.submit_button {
  padding: 10px 20px 10px 20px;
  background-color: dodgerblue;
  border-radius: 10px;
  color: white;
}

.submit_button:hover {
  background-color: #0d4479;
}

.succes_form_info {
  color: forestgreen;
  font-weight: bold;
}