<!-- przy renderowaniu jest przemianowany na html'a-->

<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Form</h1>
    <form method="post" action="/test/form">
        Nazwa: <input name="student"/>
        <input type="submit">
    </form>
</body>
</html>
